<footer>
    <section class="pie-de-pagina">
        <div class="iconos-footer">
            <i class="fa-solid fa-gift"></i>
        </div>
        <h3>Paga con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tienes cuotas sin intereses </p>
            <p>con tarjeta o efectivo en puntos de </p>
            <p>pago. ¡Y siempre es seguro!</p>
    </section>

    <section class="pie-de-pagina">
        <div class="iconos-footer">
            <i class="fa-solid fa-credit-card"></i>
        </div>
        <h3>Envío gratis desde $500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre </p>
            <p>tienes envíos gratis en miles de productos. Es </p>
            <p>un beneficio de Mercado Puntos.</p>
    </section>

    <section class="pie-de-pagina">
        <div class="iconos-footer">
            <i class="fa-solid fa-user-shield"></i>
        </div>
        <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devuelvelo! En Mercado Liebre, </p>
            <p>no hay nada que no puedas hacer, porque estás </p>
            <p>siempre protegid@.</p>
    </section>

    <section class="pie-de-pagina">
        <p>Copyright © 2023 - 2024 MercadoLiebre </p>
    </section>
</footer>