<header>
    <div class="top-header">

    <div class="logo">
     <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></a>
    </div>

      <div class="search-bar">
       <input type="search" name="buscar" placeholder="Buscar Productos y Más">
       <i class="fa-solid fa-magnifying-glass"></i>
      </div>

      <p class="sub-titulo"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjetas de créditos</p>
    </div>

    <nav class="nav-bar">
        <ul class="shop-bar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="/products">Lista De Productos</a></li>
            <li><a href="#">Ayuda</a></li>   
        </ul>
        <ul class="login-bar">
            <% if (user) { %>
                <li style="color: rgb(9, 9, 107);">Hola, <%= user.firstName %><i style="color: green;" class="fa-solid fa-circle"></i></li>
                <li><a href="/register/<%= user.id %>">Ir al Perfil</a><i class="fa-solid fa-id-card"></i></li>
                <li><a href="/login/logout">Cerrar Sesión</a><i style="color: red;" class="fa-solid fa-circle"></i></li>
                <li><a href="/productCart">Carrito De Compras</a><i class="fas fa-shopping-basket"></i></li>
              <% } else { %>
                <li><a href="/register">Registro</a><i class="far fa-id-card"></i></li>
                <li><a href="/login">Ingresar</a><i class="fas fa-sign-in-alt"></i></li>
              <% } %>
        </ul>
    </nav>

    <div class="icon-burger">
        <i class="fa-solid fa-bars"></i>
    </div>
    
</header>