<!DOCTYPE html>
<html lang="en">
    <%- include('../views/partials/head'); -%>
<body>
    <%- include('../views/partials/header'); -%>

    <h1>Panel de Control</h1>
    <p>Aquí puedes administrar tus datos y preferencias.</p>
    <a href="/profile">Ir al Perfil</a>

    <%- include('../views/partials/footer'); -%>
</body>
</html>