<!DOCTYPE html>
<html lang="en">
    <%- include('../views/partials/head'); -%>
<body>
    <%- include('../views/partials/header'); -%>

    <h2>CARRITO DE COMPRAS</h2>

    <%- include('../views/partials/footer'); -%>
</body>
</html>